.loginContainer {
  background: var(--light);
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginForm h2 {
  text-align: center;
  color: var(--dark);
  margin-bottom: 24px;
}
